@media (max-width: 1365px){
    body{
        font-family: 'proxima-nova';
        color: #07152B;
        h1{
            font-size: 28px;
            text-align: left;
            letter-spacing: 0px;
        }
        h2{
            font-size: 19px;
            text-align: center;
            font-weight: 700;
        }
        h3{
            font-size: 18px;
        }
        p{
            letter-spacing: 0px;
            text-align: center;
            font-weight: lighter;
            font-size: 14px;
            margin-bottom: 35px;

        }
        .ilustracion, .foto{
            width: 100%;
        }
        .btn-blue, .btn-white{
            font-size: 14px;
            font-weight: 700;
            border-radius: 3px;
            outline: none;
            width: 100%;
            height: 40px;
            margin-bottom: 16px;
        }
        .btn-blue{
            background: #0052CB 0% 0% no-repeat padding-box;
            color: #FFFFFF;
            border: none;
        }
        .btn-white{
            background-color: #FFFFFF;
            color: #0052CB;            
            border: 1px solid #0052CB;
        }
        .hero, .novo, .usado, .verificar, .encontretipo,.carrosvenda, .information, .footer{
            margin: 20px;
        }
        .hero{
            .texts{
                margin-right: 10px;;
            }
        }
        .backcolor{
            background-color: #F1F5FC;
            padding: 15px 0;
        }
        .novo{
            .ilustracion{
                padding: 20px 0px;
            }
        }
        .usado{
            .ilustracion{
                margin-top: 10px;
            }
        }

        .image-slide {
            height: 100%;
            width: 100%;
            transition: background-image .1s ease-in-out;
        }
        .maisbuscados{
            .carousel{
                height: 300px;
                object-fit: cover;
                display: flex;
                flex-direction: row;
                align-items: center;

            }
            .divflecha{
                position: absolute;
            }
            .foto{
                object-fit: cover;
                height: 100%;
                z-index: -3;
            }
            .left{
                left: 0px;
            }
            .right{
                right: 0px;
            }
        }
        .encontremarca{
            .container-mayor{
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 25% 25% 25% 25%;   
                margin:5px             
            }
            .container-logo{
                width: 72px;
                height: 72px;
                margin: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #F0F0F0;
                border-radius: 3px;
                //margin: 5px;
            }
        }
        .encontretipo{
            .images{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
        }
        .carrosvenda{
            ul{
                list-style-type: none;
                text-align: center;
                padding: 0;
                font-size: 14px;
                li{
                    margin: 10px;
                }
            }
        }
        .backfooter{
            background-color: #07152B;
            h3, .divbottom{
                font-size: 13px;
                color:#FFFFFF;
                margin: 0;
            }
            .divbottom{
                background-color: #6A727E;
                padding: 20px;
            }
        
        .footer{
            margin: 0px 20px;
            
            ul{
                color:#CDD2D8;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 0;
                list-style-type: none;
                font-size: 12px;
                li{
                    margin: 0px 5px 5px 0px;
                }
            }
            .links{
                height: 50px;
            }
            .icons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0px;
                img{
                    height: 25px;
                }
                .redes{
                    display: flex;
                    align-items: center;
                    img{
                        margin: 5px;
                    }
                }
            }
        }}

    }
}