@media (min-width: 360px) {
  body {
    font-family: 'proxima-nova';
    color: #07152B; }
    body h1 {
      font-size: 26px;
      text-align: left;
      letter-spacing: 0px; }
    body h2 {
      font-size: 19px;
      text-align: center;
      font-weight: 700; }
    body h3 {
      font-size: 18px; }
    body p {
      letter-spacing: 0px;
      text-align: center;
      font-weight: lighter;
      font-size: 14px;
      margin-bottom: 35px; }
    body .ilustracion, body .foto {
      width: 100%;
      margin: 15px 0px; }
    body .btn-blue, body .btn-white {
      font-size: 14px;
      font-weight: 700;
      border-radius: 3px;
      outline: none;
      width: 100%;
      height: 40px;
      margin-bottom: 16px; }
    body .btn-blue {
      background: #0052CB 0% 0% no-repeat padding-box;
      color: #FFFFFF;
      border: none; }
    body .btn-white {
      background-color: #FFFFFF;
      color: #0052CB;
      border: 1px solid #0052CB; }
    body .hero, body .novo, body .usado, body .verificar, body .encontretipo, body .carrosvenda, body .information, body .footer {
      margin: 20px 20px 0px 20px; }
    body .hero .texts {
      margin-right: 10px; }
    body .backcolor {
      background-color: #F1F5FC;
      padding: 15px 0 0 0; }
    body .usado .ilustracion {
      margin-top: 10px; }
    body .image-slide {
      height: 100%;
      width: 100%;
      transition: background-image .1s ease-in-out; }
    body .maisbuscados .carousel {
      object-fit: cover;
      display: flex;
      flex-direction: row;
      align-items: center; }
    body .maisbuscados .divflecha {
      position: absolute; }
    body .maisbuscados .foto {
      object-fit: cover;
      height: 100%;
      z-index: -3; }
    body .maisbuscados .left {
      left: 0px; }
    body .maisbuscados .right {
      right: 0px; }
    body .information {
      margin: 70px 20px;
      text-align: center; }
      body .information .btn-blue {
        width: 60%;
        margin: auto; }
      body .information p {
        margin: 15px 0px; }
    body .encontremarca .container-mayor {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 20px; }
    body .encontremarca .cuadricula {
      display: flex;
      flex-direction: column;
      margin: 0 3px; }
    body .encontremarca .container-logo {
      width: 72px;
      height: 72px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #F0F0F0;
      border-radius: 3px; }
    body .encontremarca p {
      font-size: 12px;
      margin: 12px 0px;
      color: #6A727E; }
    body .encontretipo {
      margin: 0 20px; }
      body .encontretipo .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 30px; }
        body .encontretipo .images .cuadricula {
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          margin: 0 2%; }
          body .encontretipo .images .cuadricula img {
            width: 90px;
            height: 50px; }
          body .encontretipo .images .cuadricula p {
            font-size: 11px;
            margin: 0px;
            color: #000000; }
    body .carrosvenda ul {
      list-style-type: none;
      text-align: center;
      padding: 0;
      font-size: 14px;
      font-weight: 300; }
      body .carrosvenda ul li {
        margin: 10px; }
    body .backfooter {
      background-color: #07152B; }
      body .backfooter h3, body .backfooter .divbottom {
        font-size: 13px;
        color: #FFFFFF;
        margin: 0; }
      body .backfooter .divbottom {
        background-color: #6A727E;
        padding: 20px; }
      body .backfooter .footer {
        margin: 0px 20px; }
        body .backfooter .footer ul {
          color: #CDD2D8;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          padding: 0;
          list-style-type: none;
          font-size: 12px;
          font-weight: 300; }
          body .backfooter .footer ul li {
            margin: 0px 5px 5px 0px; }
        body .backfooter .footer .links {
          height: 50px; }
        body .backfooter .footer .icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 0px; }
          body .backfooter .footer .icons img {
            height: 25px; }
          body .backfooter .footer .icons .redes {
            display: flex;
            align-items: center; }
            body .backfooter .footer .icons .redes img {
              margin: 5px; } }
@media (min-width: 768px) {
  body .hero, body .novo, body .usado, body .verificar {
    margin: 5% 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1; }
    body .hero .content, body .novo .content, body .usado .content, body .verificar .content {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .hero .content button, body .novo .content button, body .usado .content button, body .verificar .content button {
        width: 220px; }
  body .novo h2, body .novo p, body .usado h2, body .usado p, body .verificar h2, body .verificar p {
    text-align: left; }
  body .novo p, body .usado p, body .verificar p {
    line-height: 18px; }
  body .novo .content, body .usado .content, body .verificar .content {
    margin: 20px; }
  body .backcolor {
    padding: 5px 0; }
  body .usado img {
    grid-column: 2;
    grid-row: 1; }
  body .information {
    width: 60%;
    margin: 70px auto; }
    body .information .btn-blue {
      width: 210px; }
  body .encontremarca .container-mayor {
    justify-content: center; }
  body .encontremarca .cuadricula {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px; }
  body .encontretipo {
    padding: 5% 0%; }
    body .encontretipo .images {
      justify-content: center; }
      body .encontretipo .images .cuadricula {
        margin: 0 3%; }
  body .carrosvenda {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    body .carrosvenda h2 {
      text-align: left; }
    body .carrosvenda ul {
      text-align: left; }
      body .carrosvenda ul li {
        margin: 10px 0px; }
    body .carrosvenda button {
      margin: 16px 0px; }
  body .backfooter .footer .links {
    height: auto; }
  body .backfooter .footer .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 2% 4% 2%; }
  body .backfooter .footer ul {
    font-size: 14px;
    margin-top: auto; }
  body .backfooter .footer h3 {
    font-size: 16px;
    margin-bottom: 5px; } }
@media (min-width: 1024px) {
  body h1 {
    font-size: 32px; }
  body h2 {
    font-size: 22px;
    font-weight: 900; }
  body p {
    font-size: 16px; }
  body .hero, body .novo, body .usado, body .verificar {
    margin: 2% 6%; }
  body .hero .content button {
    width: 190px;
    margin-right: 10px; }
  body .novo .ilustracion, body .usado .ilustracion, body .verificar .ilustracion {
    width: 65%;
    margin: auto; }
  body .encontremarca .cuadricula {
    margin: 13px; }
  body .encontretipo {
    padding: 2% 0%; }
    body .encontretipo .images {
      width: 85%;
      margin: auto;
      justify-content: center; }
      body .encontretipo .images .cuadricula {
        margin: 1% 3%; }
        body .encontretipo .images .cuadricula img {
          width: auto; }
  body .carrosvenda ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 450px; }
  body .carrosvenda button {
    width: 233px;
    margin-bottom: 50px; }
  body .backfooter .footer .content {
    width: 75%; }
  body .backfooter .footer .icons img {
    height: 35px; }
  body .backfooter .divbottom h3 {
    font-size: 16px; } }

/*# sourceMappingURL=hero.css.map */
