#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center; }

#slider input[type=radio] {
  display: none; }

#slider label {
  cursor: pointer;
  text-decoration: none; }

#slides {
  position: relative;
  z-index: -1; }

#overflow {
  width: 100%;
  overflow: hidden; }

#slide1:checked ~ #slides .inner {
  margin-left: 0; }

#slide2:checked ~ #slides .inner {
  margin-left: -100%; }

#slide3:checked ~ #slides .inner {
  margin-left: -200%; }

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 300px; }

#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  height: 100%; }

#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative; }

#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4; }

#controls label:hover {
  opacity: 1; }

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block; }

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block; }

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(1) {
  background: #444; }

.description {
  color: white;
  background: #07152B 0% 0% no-repeat padding-box;
  opacity: 0.5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  margin-top: -60px; }

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1),
#slide4:checked ~ #controls label:nth-child(1),
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(1),
#slide4:checked ~ #controls label:nth-last-child(1) {
  margin: 0; }

@media screen and (max-width: 767px) {
  #slides {
    max-width: 100%;
    margin: 0 auto; }

  #slider {
    margin-bottom: 180px; }

  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    .slide-content .foto {
      margin: auto; }

  .description h4, .description p {
    margin: auto; } }
@media screen and (min-width: 768px) {
  #slider {
    width: auto;
    margin-bottom: 220px; }

  #slides {
    max-width: max-content;
    margin: 0; }
    #slides .slide {
      width: auto; }
    #slides .inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 150%; }

  #slide1:checked ~ #slides .inner {
    margin-left: 0; }

  #slide2:checked ~ #slides .inner {
    margin-left: -50%; }

  #slide3:checked ~ #slides .inner {
    margin-left: 0; }

  #slide4:checked ~ #slides .inner {
    margin-left: -50%; }

  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    .slide-content .foto {
      margin: auto; }

  .description h4 {
    margin: 3%; } }
@media screen and (min-width: 1366px) {
  #slides .inner {
    width: 100%; }

  #slide1:checked ~ #slides .inner {
    margin-left: 0; }

  #slide2:checked ~ #slides .inner {
    margin-left: 0; }

  #slide3:checked ~ #slides .inner {
    margin-left: 0; }

  #slide4:checked ~ #slides .inner {
    margin-left: 0; }

  .description {
    height: 75px;
    margin-top: -75px; } }

/*# sourceMappingURL=slider.css.map */
